$main-color: #181c1f;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    background-color: $main-color;
    color: #fff;
    line-height: 25px;
}

#player{
    width: 80vw;
}

.gold{
    color: gold;
}

.green{
    color: rgb(8, 222, 40);
}

.red{
    color: red;
}