$main-color: #181c1f;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    background-color: $main-color;
    color: #fff;
    line-height: 25px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#player{
    width: 80vw;
}

.gold{
    color: #000;
    background-color: rgb(207, 255, 16);
    box-shadow: 0px 0px 25px gold;
    border-radius: 8px;
    padding: 5px;
}

.green{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 122, 18);
    box-shadow: 0px 0px 25px rgb(0, 122, 18);
    border-radius: 8px;
    padding: 5px;
}

.red{
    color: rgb(0, 0, 0);
    background-color: red;
    box-shadow: 0px 0px 25px red;
    border-radius: 8px;
    padding: 5px;
}

.addedToFavorite{
    color: orangered;
}